@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgb(37, 37, 37);

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    border: 2px solid black;
    border-radius: 7px;
    padding: 10px;
}

#button {
    cursor: pointer;
    
    height: 4rem;
    width: 7rem;
}